## Data Cleaning using Pandas

In [150]:
# importing the required packages 
import pandas as pd

In [151]:

df = pd.read_csv(r"C:\Users\lenovo\Downloads\indian toys\indian_toy_market_sales_data.csv")
df.head()

,Transaction_ID,Transaction_Date,Year,Month,Month_Name,Quarter,Day_of_Week,Brand,Brand_Type,Product_Category,...,Unit_Price_INR,Quantity,Gross_Revenue_INR,Discount_Percentage,Discount_Amount_INR,Net_Revenue_INR,Customer_Rating,Safety_Certified,Returned,Customer_Type
0,TXN-20230802-000000,2023-08-02,2023,8,August,Q3,Wednesday,OKPlay,Local,STEM Toys,...,3309.05,4,13236.20,0.0,0.0,13236.20,3.4,TRUE,no,New
1,TXN-20240412-000001,2024-04-12,2024,4,April,Q2,Friday,Lego,International,Arts & Crafts,...,602.82,3,1808.46,0.0,0.0,1808.46,4.1,NaN,no,Returning
2,TXN-20220128-000002,2022-01-28,2022,1,January,Q1,Friday,Funskool India,International,Board Games,...,3171.93,1,3171.93,0.0,0.0,3171.93,4.3,TRUE,Yes,Returning
3,TXN-20201012-000003,2020-10-12,2020,10,October,Q4,Monday,HASBRO,International,Soft Toys,...,1756.13,1,1756.13,0.0,0.0,1756.13,3.6,yes,yes,Returning
4,TXN-20211127-000004,2021-11-27,2021,11,November,Q4,Saturday,Fisher Price,International,Construction Toys,...,3616.34,2,7232.68,0.0,0.0,7232.68,4.7,No,no,Returning

In [152]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 28 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Transaction_ID       100000 non-null  object
 1   Transaction_Date     100000 non-null  object
 2   Year                 100000 non-null  int64
 3   Month                100000 non-null  int64
 4   Month_Name           100000 non-null  object
 5   Quarter              100000 non-null  object
 6   Day_of_Week          100000 non-null  object
 7   Brand                100000 non-null  object
 8   Brand_Type           100000 non-null  object
 9   Product_Category     100000 non-null  object
 10  Product_Subcategory  100000 non-null  object
 11  Product_ID           100000 non-null  object
 12  Region               98968 non-null   object
 13  City                 100000 non-null  object
 14  City_Tier            100000 non-null  object
 15  Sales_Channel        100000 non-null  object
 16  Channel_Type         100000 non-null  object
 17  Target_Age_Group     100000 non-null  object
 18  Unit_Price_INR       100000 non-null  float64
 19  Quantity             100000 non-null  int64
 20  Gross_Revenue_INR    100000 non-null  float64
 21  Discount_Percentage  100000 non-null  float64
 22  Discount_Amount_INR  100000 non-null  float64
 23  Net_Revenue_INR      100000 non-null  float64
 24  Customer_Rating      98021 non-null   float64
 25  Safety_Certified     89984 non-null   object
 26  Returned             95044 non-null   object
 27  Customer_Type        97032 non-null   object
dtypes: float64(6), int64(3), object(19)
memory usage: 21.4+ MB

In [153]:
print(df.columns)

Index(['Transaction_ID', 'Transaction_Date', 'Year', 'Month', 'Month_Name',
       'Quarter', 'Day_of_Week', 'Brand', 'Brand_Type', 'Product_Category',
       'Product_Subcategory', 'Product_ID', 'Region', 'City', 'City_Tier',
       'Sales_Channel', 'Channel_Type', 'Target_Age_Group', 'Unit_Price_INR',
       'Quantity', 'Gross_Revenue_INR', 'Discount_Percentage',
       'Discount_Amount_INR', 'Net_Revenue_INR', 'Customer_Rating',
       'Safety_Certified', 'Returned', 'Customer_Type'],
      dtype='object')

In [154]:
# changing column names to snake case
df.columns = df.columns.str.lower()

In [155]:
df.head()

,transaction_id,transaction_date,year,month,month_name,quarter,day_of_week,brand,brand_type,product_category,...,unit_price_inr,quantity,gross_revenue_inr,discount_percentage,discount_amount_inr,net_revenue_inr,customer_rating,safety_certified,returned,customer_type
0,TXN-20230802-000000,2023-08-02,2023,8,August,Q3,Wednesday,OKPlay,Local,STEM Toys,...,3309.05,4,13236.20,0.0,0.0,13236.20,3.4,TRUE,no,New
1,TXN-20240412-000001,2024-04-12,2024,4,April,Q2,Friday,Lego,International,Arts & Crafts,...,602.82,3,1808.46,0.0,0.0,1808.46,4.1,NaN,no,Returning
2,TXN-20220128-000002,2022-01-28,2022,1,January,Q1,Friday,Funskool India,International,Board Games,...,3171.93,1,3171.93,0.0,0.0,3171.93,4.3,TRUE,Yes,Returning
3,TXN-20201012-000003,2020-10-12,2020,10,October,Q4,Monday,HASBRO,International,Soft Toys,...,1756.13,1,1756.13,0.0,0.0,1756.13,3.6,yes,yes,Returning
4,TXN-20211127-000004,2021-11-27,2021,11,November,Q4,Saturday,Fisher Price,International,Construction Toys,...,3616.34,2,7232.68,0.0,0.0,7232.68,4.7,No,no,Returning

In [156]:
df['safety_certified'] = df['safety_certified'].map({'TRUE': 'Yes',
                                                     'yes': 'Yes', 
                                                     'No':'No', 
                                                     'N':'No', 
                                                     'Y':'Yes', 
                                                     'no': 'No', 
                                                     'Yes':'Yes', 
                                                     'FALSE': 'No'})
print(f'safety_certified column cleaned.')

safety_certified column cleaned.

In [157]:
df['safety_certified'].unique()

array(['Yes', nan, 'No'], dtype=object)

### Brand column

In [158]:
# cleaning the brand column 
df['brand'].unique()

array(['OKPlay', ' Lego ', 'Funskool India', 'HASBRO', 'Fisher Price',
       'Lego', 'Nerf', 'HotWheels', 'Toyzone', 'OK Play', 'Hot Wheels',
       'Barbie', 'Funskool', 'Hasbro', 'Skillmatics', 'Toy Zone', 'NERF',
       'LEGO', 'BARBIE', 'Playshifu', 'Mattel', 'Fisher-Price', 'MATTEL',
       ' Playshifu ', ' Skillmatics ', ' Hot Wheels ', ' Barbie ',
       ' Hasbro ', ' Smartivity ', ' BARBIE ', 'Smartivity', ' MATTEL ',
       ' Toy Zone ', ' Toyzone ', ' Funskool India ', ' OK Play ',
       ' HotWheels ', ' Funskool ', ' Mattel ', ' Nerf ', ' NERF ',
       ' LEGO ', ' OKPlay ', ' Fisher Price ', ' Fisher-Price ',
       ' HASBRO '], dtype=object)

In [159]:
# trimming the right and left spaces 
df['brand'] = (df['brand'].str.strip())

In [160]:
df['brand'].unique()

array(['OKPlay', 'Lego', 'Funskool India', 'HASBRO', 'Fisher Price',
       'Nerf', 'HotWheels', 'Toyzone', 'OK Play', 'Hot Wheels', 'Barbie',
       'Funskool', 'Hasbro', 'Skillmatics', 'Toy Zone', 'NERF', 'LEGO',
       'BARBIE', 'Playshifu', 'Mattel', 'Fisher-Price', 'MATTEL',
       'Smartivity'], dtype=object)

In [161]:
df['brand'] = df['brand'].map({'OKPlay' : 'OK Play',
                       'Funskool India' : 'Funskool', 
                       'Lego' : 'Lego',
                       'Fisher Price': 'Fisher Price',
                       'HASBRO':'Hasbro', 
                       'Nerf' : 'Nerf',
                       'Funskool' : 'Funskool',
                       'OK Play' : 'OK Play',
                       'Hot Wheels' : 'Hot Wheels',
                       'Barbie' : 'Barbie',
                       'Hasbro' : 'Hasbro', 
                       'Skillmatics' : 'Skillmatics',
                       'Toy Zone' : 'Toy Zone',
                       'Playshifu' : 'Playshifu',
                       'Mattel' : 'Mattel',
                       'Smartivity': 'Smartivity',
                       'HotWheels' : 'Hot Wheels', 
                       'Toyzone' : 'Toy Zone',  
                       'NERF' : 'Nerf', 
                       'LEGO' : 'Lego',
                       'BARBIE' :'Barbie', 
                       'Fisher-Price' : 'Fisher Price', 
                       'MATTEL' : 'Mattel',
                       })

In [162]:
df['brand'].unique()

array(['OK Play', 'Lego', 'Funskool', 'Hasbro', 'Fisher Price', 'Nerf',
       'Hot Wheels', 'Toy Zone', 'Barbie', 'Skillmatics', 'Playshifu',
       'Mattel', 'Smartivity'], dtype=object)

### city column

In [163]:
df['city'].unique()

array(['Delhi', 'Kolkata', 'Calcutta', 'Coimbatore', 'Noida', 'Gurugram',
       'Kochi', 'Chandigarh', ' Kochi', 'Chennai', 'Bengaluru', ' Noida',
       'Patna', 'Indore', 'Mumbai', ' Hyderabad', 'Bombay', ' Calcutta',
       ' Kolkata', 'Ranchi', 'Ahmedabad', 'Mysore', 'Jaipur', 'Guwahati',
       'Nagpur', 'Bangalore', 'Hyderabad', 'Pune', 'Surat', ' Ranchi',
       'Bhubaneswar', 'Lucknow', ' Bengaluru', ' Coimbatore', ' Delhi',
       ' Mysore', ' Guwahati', ' Surat', ' Chennai', ' Jaipur', ' Bombay',
       ' Pune', ' Nagpur', ' Lucknow', ' Patna', ' Bhubaneswar',
       ' Mumbai', ' Bangalore', ' Gurugram', ' Indore', ' Ahmedabad',
       ' Chandigarh'], dtype=object)

In [164]:
# cleaning the city column 
df['city'] = df['city'].str.strip()

In [165]:
city_rename = {
    'Calcutta': 'Kolkata',
    'Bombay': 'Mumbai',
    'Bangalore': 'Bengaluru'
}
df['city'] = df['city'].replace(city_rename)

#### sales_channel column

In [166]:
df['sales_channel'].unique()

array(['Hamleys Store', 'flipkart', 'amazon.in', 'Hamleys', 'Amazon',
       'Brand Website', 'Retail Chain', 'Local Toy Store', 'Flipkart',
       'Website', 'FirstCry'], dtype=object)

In [167]:
# cleaning the sales_channel column 
channel_replace = {
    'Hamleys':'Hamleys Store',
    'amazon.in': 'Amazon',
    'flipkart' : 'Flipkart',
    'Website' : 'Brand Website'
}
df['sales_channel'] = df['sales_channel'].replace(channel_replace)

#### target_age_group column

In [168]:
df['target_age_group'].unique()

array(['13+', '9-12', '6-8 years', '13+ years', '3-5 years', '6-8', '0-2',
       '9-12 years', '0-2 years', '3-5'], dtype=object)

In [169]:
age_group_replace = {
    '0-2' : '0-2 years',
    '3-5' : '3-5 years', 
    '6-8' : '6-8 years',
    '9-12' : '9-12 years',
    '13+' : '13+ years' 
}
df['target_age_group']= df['target_age_group'].replace(age_group_replace)

#### Quantity column

In [170]:
df['quantity'].unique()

array([ 4,  3,  1,  2, -1,  5, -2, -4, -3, -5])

In [171]:
df['quantity'] = df['quantity'].abs()

####  returned column

In [172]:
df['returned'].unique()

array(['no', 'Yes', 'yes', 'N', 'Y', 'No', nan], dtype=object)

In [173]:
returned_std = {
    'yes' : 'Yes',
    'Y' : 'Yes',
    'N' : 'No',
    'no' : 'No'
}
df['returned'] = df['returned'].replace(returned_std)

#### cleaning the date column

In [174]:
print(df['transaction_date'].head(10))

0    2023-08-02
1    2024-04-12
2    2022-01-28
3    2020-10-12
4    2021-11-27
5    2021-05-05
6    13/02/2020
7    2020-07-20
8    2022-02-15
9    2020-09-02
Name: transaction_date, dtype: object

In [175]:
# replacing / with - to standardize the transaction_date column 
df['transaction_date'] = df['transaction_date'].str.replace('/', '-')
df['transaction_date'] = pd.to_datetime(df['transaction_date'], format = 'mixed', dayfirst=True)

In [176]:
# printing duplicates from the data 
print(df[df.duplicated()])

Empty DataFrame
Columns: [transaction_id, transaction_date, year, month, month_name, quarter, day_of_week, brand, brand_type, product_category, product_subcategory, product_id, region, city, city_tier, sales_channel, channel_type, target_age_group, unit_price_inr, quantity, gross_revenue_inr, discount_percentage, discount_amount_inr, net_revenue_inr, customer_rating, safety_certified, returned, customer_type]
Index: []

[0 rows x 28 columns]

In [178]:
print(df.tail(50))

            transaction_id transaction_date  year  month month_name quarter  \
99950  TXN-20220427-099950       2022-04-27  2022      4      April      Q2
99951  TXN-20201224-099951       2020-12-24  2020     12   December      Q4
99952  TXN-20200505-099952       2020-05-05  2020      5        May      Q2
99953  TXN-20201117-099953       2020-11-17  2020     11   November      Q4
99954  TXN-20210123-099954       2021-01-23  2021      1    January      Q1
99955  TXN-20200818-099955       2020-08-18  2020      8     August      Q3
99956  TXN-20221021-099956       2022-10-21  2022     10    October      Q4
99957  TXN-20211109-099957       2021-09-11  2021     11   November      Q4
99958  TXN-20230105-099958       2023-01-05  2023      1    January      Q1
99959  TXN-20210208-099959       2021-02-08  2021      2   February      Q1
99960  TXN-20201229-099960       2020-12-29  2020     12   December      Q4
99961  TXN-20230926-099961       2023-09-26  2023      9  September      Q3
99962  TXN-20241230-099962       2024-12-30  2024     12   December      Q4
99963  TXN-20210519-099963       2021-05-19  2021      5        May      Q2
99964  TXN-20210708-099964       2021-07-08  2021      7       July      Q3
99965  TXN-20200130-099965       2020-01-30  2020      1    January      Q1
99966  TXN-20200114-099966       2020-01-14  2020      1    January      Q1
99967  TXN-20230420-099967       2023-04-20  2023      4      April      Q2
99968  TXN-20221113-099968       2022-11-13  2022     11   November      Q4
99969  TXN-20200530-099969       2020-05-30  2020      5        May      Q2
99970  TXN-20200504-099970       2020-05-04  2020      5        May      Q2
99971  TXN-20201208-099971       2020-12-08  2020     12   December      Q4
99972  TXN-20240423-099972       2024-04-23  2024      4      April      Q2
99973  TXN-20220926-099973       2022-09-26  2022      9  September      Q3
99974  TXN-20220817-099974       2022-08-17  2022      8     August      Q3
99975  TXN-20240527-099975       2024-05-27  2024      5        May      Q2
99976  TXN-20200718-099976       2020-07-18  2020      7       July      Q3
99977  TXN-20210925-099977       2021-09-25  2021      9  September      Q3
99978  TXN-20210309-099978       2021-03-09  2021      3      March      Q1
99979  TXN-20220603-099979       2022-03-06  2022      6       June      Q2
99980  TXN-20200228-099980       2020-02-28  2020      2   February      Q1
99981  TXN-20231021-099981       2023-10-21  2023     10    October      Q4
99982  TXN-20220120-099950       2022-01-20  2022      1    January      Q1
99983  TXN-20230907-099983       2023-09-07  2023      9  September      Q3
99984  TXN-20240814-099984       2024-08-14  2024      8     August      Q3
99985  TXN-20210502-099985       2021-05-02  2021      5        May      Q2
99986  TXN-20200903-099986       2020-09-03  2020      9  September      Q3
99987  TXN-20201226-099987       2020-12-26  2020     12   December      Q4
99988  TXN-20200211-099988       2020-02-11  2020      2   February      Q1
99989  TXN-20220702-099989       2022-07-02  2022      7       July      Q3
99990  TXN-20200425-099990       2020-04-25  2020      4      April      Q2
99991  TXN-20231219-099991       2023-12-19  2023     12   December      Q4
99992  TXN-20241012-099992       2024-10-12  2024     10    October      Q4
99993  TXN-20231114-099993       2023-11-14  2023     11   November      Q4
99994  TXN-20210822-099994       2021-08-22  2021      8     August      Q3
99995  TXN-20200501-099995       2020-05-01  2020      5        May      Q2
99996  TXN-20201215-099996       2020-12-15  2020     12   December      Q4
99997  TXN-20210815-099997       2021-08-15  2021      8     August      Q3
99998  TXN-20220905-099998       2022-05-09  2022      9  September      Q3
99999  TXN-20210111-099999       2021-01-11  2021      1    January      Q1

      day_of_week         brand     brand_type        product_category  ...  \
99950   Wednesday        Hasbro  International                Vehicles  ...
99951    Thursday    Smartivity          Local  Dolls & Action Figures  ...
99952     Tuesday      Toy Zone          Local                Vehicles  ...
99953     Tuesday          Nerf  International               STEM Toys  ...
99954    Saturday       OK Play          Local             Board Games  ...
99955     Tuesday        Barbie  International            Outdoor Toys  ...
99956      Friday        Barbie  International           Arts & Crafts  ...
99957     Tuesday       OK Play          Local            Outdoor Toys  ...
99958    Thursday     Playshifu          Local       Construction Toys  ...
99959      Monday          Nerf  International           Arts & Crafts  ...
99960     Tuesday          Lego  International       Construction Toys  ...
99961     Tuesday        Mattel  International               STEM Toys  ...
99962      Monday    Smartivity          Local       Construction Toys  ...
99963   Wednesday  Fisher Price  International       Construction Toys  ...
99964    Thursday       OK Play          Local               Soft Toys  ...
99965    Thursday        Mattel  International            Outdoor Toys  ...
99966     Tuesday    Hot Wheels  International                Vehicles  ...
99967    Thursday  Fisher Price  International  Dolls & Action Figures  ...
99968      Sunday        Barbie  International               STEM Toys  ...
99969    Saturday        Mattel  International            Outdoor Toys  ...
99970      Monday       OK Play          Local                Vehicles  ...
99971     Tuesday  Fisher Price  International       Construction Toys  ...
99972     Tuesday    Hot Wheels  International                Vehicles  ...
99973      Monday       OK Play          Local       Construction Toys  ...
99974   Wednesday        Barbie  International  Dolls & Action Figures  ...
99975      Monday     Playshifu          Local             Board Games  ...
99976    Saturday  Fisher Price  International                Vehicles  ...
99977    Saturday    Hot Wheels  International       Construction Toys  ...
99978     Tuesday      Toy Zone          Local  Dolls & Action Figures  ...
99979      Friday      Toy Zone          Local               STEM Toys  ...
99980      Friday    Hot Wheels  International           Arts & Crafts  ...
99981    Saturday      Funskool          Local  Dolls & Action Figures  ...
99982    Thursday    Smartivity          Local            Outdoor Toys  ...
99983    Thursday      Funskool          Local  Dolls & Action Figures  ...
99984   Wednesday  Fisher Price  International           Arts & Crafts  ...
99985      Sunday      Toy Zone          Local            Outdoor Toys  ...
99986    Thursday          Lego  International            Outdoor Toys  ...
99987    Saturday  Fisher Price  International               STEM Toys  ...
99988     Tuesday        Mattel  International            Outdoor Toys  ...
99989    Saturday   Skillmatics          Local               STEM Toys  ...
99990    Saturday        Mattel  International       Construction Toys  ...
99991     Tuesday    Smartivity          Local           Arts & Crafts  ...
99992    Saturday      Toy Zone          Local           Arts & Crafts  ...
99993     Tuesday  Fisher Price  International                Vehicles  ...
99994      Sunday  Fisher Price  International            Outdoor Toys  ...
99995      Friday       OK Play          Local               Soft Toys  ...
99996     Tuesday     Playshifu          Local           Arts & Crafts  ...
99997      Sunday     Playshifu          Local               Soft Toys  ...
99998      Monday        Mattel  International                Vehicles  ...
99999      Monday  Fisher Price  International           Arts & Crafts  ...

      unit_price_inr quantity gross_revenue_inr discount_percentage  \
99950        1839.02        2           3678.04                0.00
99951         960.39        2           1920.78               26.35
99952        3388.86        3          10166.58                0.00
99953        9945.62        2          19891.24                0.00
99954        1601.28        1           1601.28                0.00
99955        3342.80        1           3342.80                0.00
99956        1538.58        2           3077.16               29.37
99957        4625.76        1           4625.76                0.00
99958        4090.41        1           4090.41                0.00
99959         734.09        2           1468.18                0.00
99960       12399.50        1          12399.50               15.20
99961       90891.60        2          18178.32                0.00
99962        2629.90        1           2629.90               28.48
99963        2356.63        4           9426.52                0.00
99964        2240.75        2           4481.50                6.39
99965        8646.76        2          17293.52                0.00
99966        2270.36        2           4540.72                0.00
99967        1343.30        2           2686.60                0.00
99968       11922.18        1          11922.18               17.59
99969        6137.12        2          12274.24                0.00
99970        3677.07        1           3677.07                0.00
99971        3729.02        1           3729.02                0.00
99972        2780.86        2           5561.72                0.00
99973        1947.95        1           1947.95                0.00
99974        1578.76        1           1578.76                0.00
99975        2233.95        1           2233.95                0.00
99976        5003.93        1           5003.93               18.47
99977        2315.18        2           4630.36                0.00
99978        2451.45        2           4902.90                0.00
99979        5350.98        1           5350.98               26.40
99980        2084.08        1           2084.08                0.00
99981        1474.39        2           2948.78               17.24
99982        2113.79        1           2113.79                0.00
99983        2918.42        1           2918.42                0.00
99984        2672.78        3           8018.34                0.00
99985        1831.92        2           3663.84                0.00
99986       13813.31        1          13813.31                0.00
99987       11913.42        1          11913.42                0.00
99988        5345.05        1           5345.05                0.00
99989        3749.15        1           3749.15               20.99
99990         796.87        1            796.87               10.25
99991        1632.35        2           3264.70               20.13
99992        1544.31        1           1544.31               24.00
99993        1136.57        2           2273.14                0.00
99994        8934.62        2          17869.24               27.88
99995        2199.14        1           2199.14                0.00
99996        1809.36        1           1809.36                0.00
99997        1180.04        2           2360.08                0.00
99998        5055.06        1           5055.06                0.00
99999         944.60        1            944.60               11.38

      discount_amount_inr net_revenue_inr customer_rating safety_certified  \
99950                0.00         3678.04             4.3               No
99951              506.13         1414.65             3.7              Yes
99952                0.00        10166.58             3.6               No
99953                0.00        19891.24             4.7              Yes
99954                0.00         1601.28             4.0               No
99955                0.00         3342.80             3.2               No
99956              903.76         2173.40             3.4              Yes
99957                0.00         4625.76             4.2              Yes
99958                0.00         4090.41             4.1               No
99959                0.00         1468.18             4.7               No
99960             1884.72        10514.78             4.1              Yes
99961                0.00        18178.32             4.2              Yes
99962              749.00         1880.90             4.3               No
99963                0.00         9426.52             4.2               No
99964              286.37         4195.13             2.7              Yes
99965                0.00        17293.52             4.3               No
99966                0.00         4540.72             4.1               No
99967                0.00         2686.60             3.9               No
99968             2097.11         9825.07             3.6              Yes
99969                0.00        12274.24             3.7               No
99970                0.00         3677.07             4.7              Yes
99971                0.00         3729.02             4.0              NaN
99972                0.00         5561.72             NaN               No
99973                0.00         1947.95             3.7              Yes
99974                0.00         1578.76             4.6              NaN
99975                0.00         2233.95             4.7              Yes
99976              924.23         4079.70             4.4               No
99977                0.00         4630.36             4.3               No
99978                0.00         4902.90             4.3               No
99979             1412.66         3938.32             4.8               No
99980                0.00         2084.08             4.5              Yes
99981              508.37         2440.41             4.1               No
99982                0.00         2113.79             3.7              NaN
99983                0.00         2918.42             4.5               No
99984                0.00         8018.34             2.7               No
99985                0.00         3663.84             4.5              NaN
99986                0.00        13813.31             3.9              NaN
99987                0.00        11913.42             3.9               No
99988                0.00         5345.05             3.2              Yes
99989              786.95         2962.20             4.8               No
99990               81.68          715.19             4.2              Yes
99991              657.18         2607.52             3.9              Yes
99992              370.63         1173.68             4.0               No
99993                0.00         2273.14             3.3               No
99994             4981.94        12887.30             4.6               No
99995                0.00         2199.14             4.3               No
99996                0.00         1809.36             4.4              Yes
99997                0.00         2360.08             4.5               No
99998                0.00         5055.06             4.8              Yes
99999              107.50          837.10             4.3               No

       returned  customer_type
99950       Yes      Returning
99951        No      Returning
99952        No            New
99953        No            New
99954        No      Returning
99955       Yes      Returning
99956       Yes            New
99957        No      Returning
99958        No            New
99959       NaN      Returning
99960        No      Returning
99961       Yes      Returning
99962       Yes            New
99963        No            New
99964        No      Returning
99965       Yes      Returning
99966        No            New
99967       Yes            New
99968       Yes      Returning
99969       Yes      Returning
99970       Yes      Returning
99971        No      Returning
99972       Yes      Returning
99973        No      Returning
99974       Yes            New
99975        No      Returning
99976        No      Returning
99977        No      Returning
99978       NaN            New
99979        No      Returning
99980        No            New
99981       Yes      Returning
99982        No      Returning
99983        No      Returning
99984       Yes      Returning
99985       Yes            New
99986        No      Returning
99987        No      Returning
99988        No      Returning
99989       Yes            NaN
99990        No      Returning
99991        No      Returning
99992        No      Returning
99993       NaN            NaN
99994        No      Returning
99995        No            New
99996        No      Returning
99997       Yes      Returning
99998       Yes      Returning
99999        No            NaN

[50 rows x 28 columns]

In [179]:
# downloading the cleaned data 
df.to_csv(r"C:\Users\lenovo\Downloads\indian toys\cleaned_indian_toy_market_sales_data.csv", index= False)