## Data Cleaning using Pandas

In [44]:
# importing the required packages 
import pandas as pd

In [45]:

df = pd.read_csv(r"C:\Users\lenovo\Downloads\indian toys\indian_toy_market_sales_data.csv")
df.head()

,Transaction_ID,Transaction_Date,Year,Month,Month_Name,Quarter,Day_of_Week,Brand,Brand_Type,Product_Category,...,Unit_Price_INR,Quantity,Gross_Revenue_INR,Discount_Percentage,Discount_Amount_INR,Net_Revenue_INR,Customer_Rating,Safety_Certified,Returned,Customer_Type
0,TXN-20230802-000000,2023-08-02,2023,8,August,Q3,Wednesday,OKPlay,Local,STEM Toys,...,3309.05,4,13236.20,0.0,0.0,13236.20,3.4,TRUE,no,New
1,TXN-20240412-000001,2024-04-12,2024,4,April,Q2,Friday,Lego,International,Arts & Crafts,...,602.82,3,1808.46,0.0,0.0,1808.46,4.1,NaN,no,Returning
2,TXN-20220128-000002,2022-01-28,2022,1,January,Q1,Friday,Funskool India,International,Board Games,...,3171.93,1,3171.93,0.0,0.0,3171.93,4.3,TRUE,Yes,Returning
3,TXN-20201012-000003,2020-10-12,2020,10,October,Q4,Monday,HASBRO,International,Soft Toys,...,1756.13,1,1756.13,0.0,0.0,1756.13,3.6,yes,yes,Returning
4,TXN-20211127-000004,2021-11-27,2021,11,November,Q4,Saturday,Fisher Price,International,Construction Toys,...,3616.34,2,7232.68,0.0,0.0,7232.68,4.7,No,no,Returning

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 28 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Transaction_ID       100000 non-null  object
 1   Transaction_Date     100000 non-null  object
 2   Year                 100000 non-null  int64
 3   Month                100000 non-null  int64
 4   Month_Name           100000 non-null  object
 5   Quarter              100000 non-null  object
 6   Day_of_Week          100000 non-null  object
 7   Brand                100000 non-null  object
 8   Brand_Type           100000 non-null  object
 9   Product_Category     100000 non-null  object
 10  Product_Subcategory  100000 non-null  object
 11  Product_ID           100000 non-null  object
 12  Region               98968 non-null   object
 13  City                 100000 non-null  object
 14  City_Tier            100000 non-null  object
 15  Sales_Channel        100000 non-null  object
 16  Channel_Type         100000 non-null  object
 17  Target_Age_Group     100000 non-null  object
 18  Unit_Price_INR       100000 non-null  float64
 19  Quantity             100000 non-null  int64
 20  Gross_Revenue_INR    100000 non-null  float64
 21  Discount_Percentage  100000 non-null  float64
 22  Discount_Amount_INR  100000 non-null  float64
 23  Net_Revenue_INR      100000 non-null  float64
 24  Customer_Rating      98021 non-null   float64
 25  Safety_Certified     89984 non-null   object
 26  Returned             95044 non-null   object
 27  Customer_Type        97032 non-null   object
dtypes: float64(6), int64(3), object(19)
memory usage: 21.4+ MB

In [47]:
print(df.columns)

Index(['Transaction_ID', 'Transaction_Date', 'Year', 'Month', 'Month_Name',
       'Quarter', 'Day_of_Week', 'Brand', 'Brand_Type', 'Product_Category',
       'Product_Subcategory', 'Product_ID', 'Region', 'City', 'City_Tier',
       'Sales_Channel', 'Channel_Type', 'Target_Age_Group', 'Unit_Price_INR',
       'Quantity', 'Gross_Revenue_INR', 'Discount_Percentage',
       'Discount_Amount_INR', 'Net_Revenue_INR', 'Customer_Rating',
       'Safety_Certified', 'Returned', 'Customer_Type'],
      dtype='object')

In [48]:
# changing column names to snake case
df.columns = df.columns.str.lower()

In [49]:
df.head()

,transaction_id,transaction_date,year,month,month_name,quarter,day_of_week,brand,brand_type,product_category,...,unit_price_inr,quantity,gross_revenue_inr,discount_percentage,discount_amount_inr,net_revenue_inr,customer_rating,safety_certified,returned,customer_type
0,TXN-20230802-000000,2023-08-02,2023,8,August,Q3,Wednesday,OKPlay,Local,STEM Toys,...,3309.05,4,13236.20,0.0,0.0,13236.20,3.4,TRUE,no,New
1,TXN-20240412-000001,2024-04-12,2024,4,April,Q2,Friday,Lego,International,Arts & Crafts,...,602.82,3,1808.46,0.0,0.0,1808.46,4.1,NaN,no,Returning
2,TXN-20220128-000002,2022-01-28,2022,1,January,Q1,Friday,Funskool India,International,Board Games,...,3171.93,1,3171.93,0.0,0.0,3171.93,4.3,TRUE,Yes,Returning
3,TXN-20201012-000003,2020-10-12,2020,10,October,Q4,Monday,HASBRO,International,Soft Toys,...,1756.13,1,1756.13,0.0,0.0,1756.13,3.6,yes,yes,Returning
4,TXN-20211127-000004,2021-11-27,2021,11,November,Q4,Saturday,Fisher Price,International,Construction Toys,...,3616.34,2,7232.68,0.0,0.0,7232.68,4.7,No,no,Returning

In [50]:
df['safety_certified'] = df['safety_certified'].map({'TRUE': 'Yes',
                                                     'yes': 'Yes', 
                                                     'No':'No', 
                                                     'N':'No', 
                                                     'Y':'Yes', 
                                                     'no': 'No', 
                                                     'Yes':'Yes', 
                                                     'FALSE': 'No'})
print(f'safety_certified column cleaned.')

safety_certified column cleaned.

In [51]:
df['safety_certified'].unique()

array(['Yes', nan, 'No'], dtype=object)

### Brand column

In [52]:
# cleaning the brand column 
df['brand'].unique()

array(['OKPlay', ' Lego ', 'Funskool India', 'HASBRO', 'Fisher Price',
       'Lego', 'Nerf', 'HotWheels', 'Toyzone', 'OK Play', 'Hot Wheels',
       'Barbie', 'Funskool', 'Hasbro', 'Skillmatics', 'Toy Zone', 'NERF',
       'LEGO', 'BARBIE', 'Playshifu', 'Mattel', 'Fisher-Price', 'MATTEL',
       ' Playshifu ', ' Skillmatics ', ' Hot Wheels ', ' Barbie ',
       ' Hasbro ', ' Smartivity ', ' BARBIE ', 'Smartivity', ' MATTEL ',
       ' Toy Zone ', ' Toyzone ', ' Funskool India ', ' OK Play ',
       ' HotWheels ', ' Funskool ', ' Mattel ', ' Nerf ', ' NERF ',
       ' LEGO ', ' OKPlay ', ' Fisher Price ', ' Fisher-Price ',
       ' HASBRO '], dtype=object)

In [53]:
# trimming the right and left spaces 
df['brand'] = (df['brand'].str.strip())

In [54]:
df['brand'].unique()

array(['OKPlay', 'Lego', 'Funskool India', 'HASBRO', 'Fisher Price',
       'Nerf', 'HotWheels', 'Toyzone', 'OK Play', 'Hot Wheels', 'Barbie',
       'Funskool', 'Hasbro', 'Skillmatics', 'Toy Zone', 'NERF', 'LEGO',
       'BARBIE', 'Playshifu', 'Mattel', 'Fisher-Price', 'MATTEL',
       'Smartivity'], dtype=object)

In [55]:
df['brand'] = df['brand'].map({'OKPlay' : 'OK Play',
                       'Funskool India' : 'Funskool', 
                       'Lego' : 'Lego',
                       'Fisher Price': 'Fisher Price',
                       'HASBRO':'Hasbro', 
                       'Nerf' : 'Nerf',
                       'Funskool' : 'Funskool',
                       'OK Play' : 'OK Play',
                       'Hot Wheels' : 'Hot Wheels',
                       'Barbie' : 'Barbie',
                       'Hasbro' : 'Hasbro', 
                       'Skillmatics' : 'Skillmatics',
                       'Toy Zone' : 'Toy Zone',
                       'Playshifu' : 'Playshifu',
                       'Mattel' : 'Mattel',
                       'Smartivity': 'Smartivity',
                       'HotWheels' : 'Hot Wheels', 
                       'Toyzone' : 'Toy Zone',  
                       'NERF' : 'Nerf', 
                       'LEGO' : 'Lego',
                       'BARBIE' :'Barbie', 
                       'Fisher-Price' : 'Fisher Price', 
                       'MATTEL' : 'Mattel',
                       })

In [56]:
df['brand'].unique()

array(['OK Play', 'Lego', 'Funskool', 'Hasbro', 'Fisher Price', 'Nerf',
       'Hot Wheels', 'Toy Zone', 'Barbie', 'Skillmatics', 'Playshifu',
       'Mattel', 'Smartivity'], dtype=object)

### city column

In [57]:
df['city'].unique()

array(['Delhi', 'Kolkata', 'Calcutta', 'Coimbatore', 'Noida', 'Gurugram',
       'Kochi', 'Chandigarh', ' Kochi', 'Chennai', 'Bengaluru', ' Noida',
       'Patna', 'Indore', 'Mumbai', ' Hyderabad', 'Bombay', ' Calcutta',
       ' Kolkata', 'Ranchi', 'Ahmedabad', 'Mysore', 'Jaipur', 'Guwahati',
       'Nagpur', 'Bangalore', 'Hyderabad', 'Pune', 'Surat', ' Ranchi',
       'Bhubaneswar', 'Lucknow', ' Bengaluru', ' Coimbatore', ' Delhi',
       ' Mysore', ' Guwahati', ' Surat', ' Chennai', ' Jaipur', ' Bombay',
       ' Pune', ' Nagpur', ' Lucknow', ' Patna', ' Bhubaneswar',
       ' Mumbai', ' Bangalore', ' Gurugram', ' Indore', ' Ahmedabad',
       ' Chandigarh'], dtype=object)

In [58]:
# cleaning the city column 
df['city'] = df['city'].str.strip()

In [59]:
city_rename = {
    'Calcutta': 'Kolkata',
    'Bombay': 'Mumbai',
    'Bangalore': 'Bengaluru'
}
df['city'] = df['city'].replace(city_rename)

#### sales_channel column

In [60]:
df['sales_channel'].unique()

array(['Hamleys Store', 'flipkart', 'amazon.in', 'Hamleys', 'Amazon',
       'Brand Website', 'Retail Chain', 'Local Toy Store', 'Flipkart',
       'Website', 'FirstCry'], dtype=object)

In [61]:
# cleaning the sales_channel column 
channel_replace = {
    'Hamleys':'Hamleys Store',
    'amazon.in': 'Amazon',
    'flipkart' : 'Flipkart',
    'Website' : 'Brand Website'
}
df['sales_channel'] = df['sales_channel'].replace(channel_replace)

#### target_age_group column

In [62]:
df['target_age_group'].unique()

array(['13+', '9-12', '6-8 years', '13+ years', '3-5 years', '6-8', '0-2',
       '9-12 years', '0-2 years', '3-5'], dtype=object)

In [63]:
age_group_replace = {
    '0-2' : '0-2 years',
    '3-5' : '3-5 years', 
    '6-8' : '6-8 years',
    '9-12' : '9-12 years',
    '13+' : '13+ years' 
}
df['target_age_group']= df['target_age_group'].replace(age_group_replace)

#### Quantity column

In [64]:
df['quantity'].unique()

array([ 4,  3,  1,  2, -1,  5, -2, -4, -3, -5])

In [65]:
df['quantity'] = df['quantity'].abs()

####  returned column

In [66]:
df['returned'].unique()

array(['no', 'Yes', 'yes', 'N', 'Y', 'No', nan], dtype=object)

In [67]:
returned_std = {
    'yes' : 'Yes',
    'Y' : 'Yes',
    'N' : 'No',
    'no' : 'No'
}
df['returned'] = df['returned'].replace(returned_std)

#### cleaning the date column

In [68]:
# replacing / with - to standardize the transaction_date column 
df['transaction_date'] = df['transaction_date'].str.replace('/', '-').head(50)

In [69]:
print(df['transaction_date'].head(10))

0    2023-08-02
1    2024-04-12
2    2022-01-28
3    2020-10-12
4    2021-11-27
5    2021-05-05
6    13-02-2020
7    2020-07-20
8    2022-02-15
9    2020-09-02
Name: transaction_date, dtype: object

In [70]:
df['transaction_date'] = pd.to_datetime(df['transaction_date'], format = 'mixed', dayfirst=True)

In [71]:
# printing duplicates from the data 
print(df[df.duplicated()])

Empty DataFrame
Columns: [transaction_id, transaction_date, year, month, month_name, quarter, day_of_week, brand, brand_type, product_category, product_subcategory, product_id, region, city, city_tier, sales_channel, channel_type, target_age_group, unit_price_inr, quantity, gross_revenue_inr, discount_percentage, discount_amount_inr, net_revenue_inr, customer_rating, safety_certified, returned, customer_type]
Index: []

[0 rows x 28 columns]

In [73]:
df.head(50)

,transaction_id,transaction_date,year,month,month_name,quarter,day_of_week,brand,brand_type,product_category,...,unit_price_inr,quantity,gross_revenue_inr,discount_percentage,discount_amount_inr,net_revenue_inr,customer_rating,safety_certified,returned,customer_type
0,TXN-20230802-000000,2023-08-02,2023,8,August,Q3,Wednesday,OK Play,Local,STEM Toys,...,3309.05,4,13236.20,0.00,0.00,13236.20,3.4,Yes,No,New
1,TXN-20240412-000001,2024-04-12,2024,4,April,Q2,Friday,Lego,International,Arts & Crafts,...,602.82,3,1808.46,0.00,0.00,1808.46,4.1,NaN,No,Returning
2,TXN-20220128-000002,2022-01-28,2022,1,January,Q1,Friday,Funskool,International,Board Games,...,3171.93,1,3171.93,0.00,0.00,3171.93,4.3,Yes,Yes,Returning
3,TXN-20201012-000003,2020-10-12,2020,10,October,Q4,Monday,Hasbro,International,Soft Toys,...,1756.13,1,1756.13,0.00,0.00,1756.13,3.6,Yes,Yes,Returning
4,TXN-20211127-000004,2021-11-27,2021,11,November,Q4,Saturday,Fisher Price,International,Construction Toys,...,3616.34,2,7232.68,0.00,0.00,7232.68,4.7,No,No,Returning
5,TXN-20210505-000005,2021-05-05,2021,5,May,Q2,Wednesday,Funskool,International,Dolls & Action Figures,...,2828.14,1,2828.14,0.00,0.00,2828.14,4.1,NaN,No,Returning
6,TXN-20200213-000006,2020-02-13,2020,2,February,Q1,Thursday,Lego,International,Construction Toys,...,2304.67,1,2304.67,10.95,252.36,2052.31,4.8,Yes,No,Returning
7,TXN-20200720-000007,2020-07-20,2020,7,July,Q3,Monday,Funskool,International,STEM Toys,...,6832.50,1,6832.50,0.00,0.00,6832.50,4.2,Yes,Yes,Returning
8,TXN-20220215-000008,2022-02-15,2022,2,February,Q1,Tuesday,Nerf,International,Vehicles,...,443.22,1,443.22,0.00,0.00,443.22,4.1,Yes,Yes,New
9,TXN-20200902-000009,2020-09-02,2020,9,September,Q3,Wednesday,Hot Wheels,International,Dolls & Action Figures,...,1436.78,1,1436.78,22.90,329.02,1107.76,4.4,No,No,Returning
10,TXN-20241205-000010,2024-12-05,2024,12,December,Q4,Thursday,Fisher Price,International,Outdoor Toys,...,7059.53,1,7059.53,0.00,0.00,7059.53,3.9,Yes,No,Returning
11,TXN-20200331-000011,2020-03-31,2020,3,March,Q1,Tuesday,Toy Zone,Local,Board Games,...,1056.55,1,1056.55,6.88,72.69,983.86,3.6,Yes,Yes,Returning
12,TXN-20220412-000012,2022-04-12,2022,4,April,Q2,Tuesday,OK Play,Local,Soft Toys,...,915.26,1,915.26,0.00,0.00,915.26,3.6,Yes,No,New
13,TXN-20241105-000013,2024-11-05,2024,11,November,Q4,Tuesday,Hot Wheels,International,Soft Toys,...,659.78,2,1319.56,29.06,383.46,936.10,3.3,Yes,Yes,Returning
14,TXN-20231005-000014,2023-10-05,2023,10,October,Q4,Thursday,Barbie,International,Arts & Crafts,...,1654.11,1,1654.11,0.00,0.00,1654.11,4.3,No,Yes,Returning
15,TXN-20230902-000015,2023-09-02,2023,9,September,Q3,Saturday,Barbie,International,STEM Toys,...,10946.26,1,10946.26,21.60,2364.39,8581.87,4.6,Yes,Yes,Returning
16,TXN-20220329-000016,2022-03-29,2022,3,March,Q1,Tuesday,Funskool,Local,Dolls & Action Figures,...,1011.30,1,1011.30,0.00,0.00,1011.30,4.2,Yes,No,Returning
17,TXN-20240417-000017,2024-04-17,2024,4,April,Q2,Wednesday,Fisher Price,International,Dolls & Action Figures,...,4042.30,1,4042.30,0.00,0.00,4042.30,4.1,Yes,No,Returning
18,TXN-20220218-000018,2022-02-18,2022,2,February,Q1,Friday,Toy Zone,Local,Soft Toys,...,2081.43,3,6244.29,15.90,992.84,5251.45,4.2,No,No,Returning
19,TXN-20211101-000019,2021-11-01,2021,11,November,Q4,Monday,Nerf,International,Soft Toys,...,660.73,1,660.73,0.00,0.00,660.73,3.8,Yes,NaN,Returning
20,TXN-20210322-000020,2021-03-22,2021,3,March,Q1,Monday,Hasbro,International,Board Games,...,1554.52,4,6218.08,5.64,350.70,5867.38,3.4,No,No,Returning
21,TXN-20230916-000021,2023-09-16,2023,9,September,Q3,Saturday,Hasbro,International,Construction Toys,...,4712.29,1,4712.29,0.00,0.00,4712.29,3.9,No,No,Returning
22,TXN-20241210-000022,2024-12-10,2024,12,December,Q4,Tuesday,Skillmatics,Local,Arts & Crafts,...,1973.45,1,1973.45,0.00,0.00,1973.45,4.0,No,No,Returning
23,TXN-20220408-000023,2022-04-08,2022,4,April,Q2,Friday,Toy Zone,Local,Vehicles,...,1565.97,2,3131.94,22.57,706.88,2425.06,3.0,No,No,Returning
24,TXN-20210201-000024,2021-02-01,2021,2,February,Q1,Monday,Hasbro,International,Construction Toys,...,2650.37,1,2650.37,28.60,758.01,1892.36,4.4,No,Yes,Returning
25,TXN-20240719-000025,2024-07-19,2024,7,July,Q3,Friday,Funskool,International,Soft Toys,...,2037.45,1,2037.45,0.00,0.00,2037.45,3.4,No,No,New
26,TXN-20210419-000026,2021-04-19,2021,4,April,Q2,Monday,Nerf,International,Vehicles,...,5631.77,1,5631.77,0.00,0.00,5631.77,4.1,NaN,No,Returning
27,TXN-20210711-000027,2021-07-11,2021,7,July,Q3,Sunday,Lego,International,Soft Toys,...,2201.70,2,4403.40,21.86,962.58,3440.82,3.4,Yes,NaN,Returning
28,TXN-20211019-000028,2021-10-19,2021,10,October,Q4,Tuesday,Barbie,International,Vehicles,...,721.86,3,2165.58,7.20,155.92,2009.66,3.7,Yes,NaN,NaN
29,TXN-20200925-000029,2020-09-25,2020,9,September,Q3,Friday,Playshifu,Local,Dolls & Action Figures,...,2232.68,3,6698.04,0.00,0.00,6698.04,4.0,No,Yes,Returning
30,TXN-20230512-000030,2023-05-12,2023,5,May,Q2,Friday,Nerf,International,Soft Toys,...,807.32,3,2421.96,12.46,301.78,2120.18,4.5,No,No,Returning
31,TXN-20220826-000031,2022-08-26,2022,8,August,Q3,Friday,OK Play,Local,Vehicles,...,2262.63,2,4525.26,0.00,0.00,4525.26,3.2,No,No,New
32,TXN-20220217-000032,2022-02-17,2022,2,February,Q1,Thursday,Playshifu,Local,Construction Toys,...,1829.38,2,3658.76,0.00,0.00,3658.76,4.1,No,NaN,New
33,TXN-20201224-000033,2020-12-24,2020,12,December,Q4,Thursday,OK Play,Local,Vehicles,...,510.65,1,510.65,0.00,0.00,510.65,4.3,No,No,Returning
34,TXN-20230317-000034,2023-03-17,2023,3,March,Q1,Friday,Barbie,International,Outdoor Toys,...,8080.24,2,16160.48,26.63,4303.54,11856.94,3.2,Yes,No,Returning
35,TXN-20230709-000035,2023-07-09,2023,7,July,Q3,Sunday,Funskool,Local,Arts & Crafts,...,511.20,2,1022.40,0.00,0.00,1022.40,3.4,Yes,Yes,Returning
36,TXN-20240123-000036,2024-01-23,2024,1,January,Q1,Tuesday,Toy Zone,Local,Dolls & Action Figures,...,2761.62,1,2761.62,0.00,0.00,2761.62,4.3,No,No,Returning
37,TXN-20200826-000037,2020-08-26,2020,8,August,Q3,Wednesday,Toy Zone,Local,Vehicles,...,1283.63,1,1283.63,0.00,0.00,1283.63,3.4,No,No,Returning
38,TXN-20220122-000038,2022-01-22,2022,1,January,Q1,Saturday,Mattel,International,Dolls & Action Figures,...,4228.02,2,8456.04,0.00,0.00,8456.04,3.7,No,Yes,Returning
39,TXN-20230111-000039,2023-01-11,2023,1,January,Q1,Wednesday,Nerf,International,Construction Toys,...,1360.20,1,1360.20,0.00,0.00,1360.20,3.9,No,No,Returning
40,TXN-20210909-000040,2021-09-09,2021,9,September,Q3,Thursday,Funskool,Local,Vehicles,...,1534.04,1,1534.04,0.00,0.00,1534.04,4.0,Yes,Yes,New
41,TXN-20230826-000041,2023-08-26,2023,8,August,Q3,Saturday,Mattel,International,Soft Toys,...,2034.81,1,2034.81,0.00,0.00,2034.81,3.6,No,Yes,Returning
42,TXN-20200907-000042,2020-09-07,2020,9,September,Q3,Monday,Skillmatics,Local,Construction Toys,...,4483.03,1,4483.03,0.00,0.00,4483.03,4.0,No,Yes,Returning
43,TXN-20231121-000043,2023-11-21,2023,11,November,Q4,Tuesday,Barbie,International,Outdoor Toys,...,4446.90,1,4446.90,0.00,0.00,4446.90,4.8,Yes,Yes,New
44,TXN-20231012-000044,2023-10-12,2023,10,October,Q4,Thursday,Fisher Price,International,Vehicles,...,4967.54,1,4967.54,15.75,782.39,4185.15,4.6,No,Yes,New
45,TXN-20220217-000045,2022-02-17,2022,2,February,Q1,Thursday,Barbie,International,Arts & Crafts,...,1936.55,1,1936.55,0.00,0.00,1936.55,4.5,Yes,No,Returning
46,TXN-20240925-000046,2024-09-25,2024,9,September,Q3,Wednesday,Fisher Price,International,Dolls & Action Figures,...,3333.15,4,13332.60,0.00,0.00,13332.60,3.2,Yes,Yes,Returning
47,TXN-20221008-000047,2022-10-08,2022,10,October,Q4,Saturday,Hot Wheels,International,Vehicles,...,2734.81,1,2734.81,16.72,457.26,2277.55,3.7,No,Yes,New
48,TXN-20240222-000048,2024-02-22,2024,2,February,Q1,Thursday,OK Play,Local,Arts & Crafts,...,439.41,1,439.41,27.48,120.75,318.66,4.3,Yes,Yes,New
49,TXN-20211116-000049,2021-11-16,2021,11,November,Q4,Tuesday,Barbie,International,Soft Toys,...,3591.58,2,7183.16,0.00,0.00,7183.16,4.1,Yes,Yes,Returning

In [74]:
# downloading the cleaned data 
df.to_csv(r"C:\Users\lenovo\Downloads\indian toys\cleaned_indian_toy_market_sales_data.csv")